body {
    font: 10px sans-serif;
}

#left {
    float: left;
}

#right {
    float: right;
}

.category_div {
    column-width: 10em;
    -webkit-column-width: 10em;
    -moz-column-width: 10em;
}

.category_div ul {
    list-style-position: inside;
    padding-left: 10px;
    text-indent: -4px;
}

.category_div li a {
    text-decoration: none;
}

.category_div li a.active {
    background: lightgray;
}

.category_div > ul {
    margin-top: 0;
}

.category_div > ul > li {
    padding-bottom: 10px;
}
