body {
    font: 10px sans-serif;
}

#left {
    float: left;
    width: 600px;
}

#right {
    float: right;
}

.category_div {
    column-width: 12em;
    -webkit-column-width: 12em;
    -moz-column-width: 12em;
}

.category_div ul {
    list-style-position: inside;
    padding-left: 10px;
    text-indent: -4px;
}

.category_div li a {
    text-decoration: none;
}

.category_div > ul {
    margin-top: 0;
}

.category_div > ul > li {
    padding-bottom: 10px;
}

.category_div select {
    width: 10em;
    overflow: hidden; /* hide scrollbar */
    display: block; /* list box below title, not beside */
}

.chart-tooltip img {
    float: left;
}