
#chart-legend {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    opacity: .8;
    cursor: default;
}

#chart-legend .title {
    align-self: center;
    margin-bottom: 2px;
    cursor: pointer;
}

#chart-legend .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#chart-legend .text {
    margin-left: 5px;
}

#chart-legend .color {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    flex-shrink: 0;
}