
#filters {
    height: -moz-calc(100% - 1.4ex - 10px); /* leave space for scrollbar */
    height: -webkit-calc(100% - 1.4ex - 10px); /* leave space for scrollbar */
    height: calc(100% - 1.4ex - 10px); /* leave space for scrollbar */
    white-space: nowrap; /* divs side by side */
}

#filters div {
    height: 100%;
    display: inline-block; /* divs side by side */
}

#filters select {
    border: none;
    display: block; /* list box below title, not beside */
    overflow: hidden; /* only show scrollbar on hover */
}

#filters select:hover {
    overflow: overlay; /* only show scrollbar on hover */
}

#filters option {
    white-space: normal; /* wrap text */
}

#filters div a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#filters select {
    height: 100%;
    width: 10em;
}
