#filters {
    overflow: hidden; /* only show scrollbar on hover */
}

#filters:hover {
    overflow: auto; /* only show scrollbar on hover */
}

.filter {
    margin-top: 10px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.filter li {
    display: flex;
}

.filter input {
    flex-shrink: 0;
    cursor: pointer;
}

.filter label {
    cursor: pointer;
}

.filter .top {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.filter .title {
    font-weight: bold;
    cursor: pointer;
}

.filter .expander {
    cursor: pointer;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.filter .arrow {
    margin-right: 4px;
}

.filter.active .title{
    text-decoration: underline;
}
