#filters {
    overflow: hidden; /* only show scrollbar on hover */
}

#filters:hover {
    overflow: auto; /* only show scrollbar on hover */
}

.filter {
    margin-top: 10px;
}

.filter select {
    width: 100%;
    border: none;
    display: block; /* list box below title, not beside */
    overflow: hidden; /* only show scrollbar on hover */
}

.filter select:hover {
    overflow: overlay; /* only show scrollbar on hover */
}

.filter option {
    white-space: normal; /* wrap text */
}

.filter .top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.filter .title {
    font-weight: bold;
    cursor: pointer;
}

.filter .arrow {
    cursor: pointer;
    margin-right: 4px;
}
