html {
    height: 100vh;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

#main {
    height: 100%;
    padding: 12px;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

#left {
    display: flex;
    flex-flow: column nowrap;
}

#right {
    height: 100%;
    width: 800px;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

#top {
    height: 30px;
    padding: 0 0 12px 40px; /*matches chart left margin in chart_renderer.js*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#top > div {
    padding-right: 2px;
}

#message {
    cursor: pointer;
}

#chart {
    height: 100%;
}
