html {
    height: 100vh;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

#main {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#top {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    height: 400px;
}

#bottom {
    height: 200px;
}

#controls {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    padding: 12px;
}

#chart {
    flex-grow: 1;
    width: 800px;
}

#filters select {
    height: 100%;
    width: 10em;
}

.chart-tooltip img {
    float: left;
}

#keyword-div {
    display: flex;
}

#keyword-div input {
    flex-grow: 1;
}

#request-log {
    flex-grow: 1;
    overflow: auto;
}

#request-log table {
    border-collapse: collapse;
}

#request-log tr:nth-child(even) {
    background-color: rgb(237, 237, 237);
}

#request-log td {
    padding: 4px;
}

#request-log td.description {
    width: 100%;
}