html {
    height: 100vh;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#main {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#top {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

#bottom {
    height: 200px;
}

#controls {
}

#chart {
    flex-grow: 1;
}

#filters select {
    height: 100%;
    width: 10em;
}

.chart-tooltip img {
    float: left;
}
